.messenger {
  height: calc(100vh - 70px);
  display: flex;
}

.chatMenu {
  flex: 3.5;
}

.chatMenuInput {
  width: 90%;
  padding: 0.625rem 0.3125rem;
  border: none;
  border-bottom: 1px solid grey;
}

.chatMenuInput:focus {
  outline: none;
}

.chatBox {
  flex: 5.5;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position:relative;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 0.625rem;
}

.chatBoxBottom {
  margin-top: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput {
  width: 80%;
  height: 4rem;
  padding: 0.625rem;
}

.chatMessageInput textarea {
  resize: none;
}

.chatMessageInput:focus {
  outline: none;
}

.chatSubmitButton {
  width: 4.375rem !important;
  height: 2.5rem;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  background-color: teal;
  color: white;
  margin-left: 0.3125rem;
}

.chatOnline {
  flex: 3;
}

.chatMenuWrapper, 
.chatBoxWrapper, 
.charBoxWrapper {
  padding: 10px;
  height: 100%;
}

.noConversationText {
  position: absolute;
  top: 10%;
  font-size: 3rem;
  color: rgb(224, 220, 220);
  cursor: default;
}